<p style="margin-left: 100px"><br><br>Blood donation and transfusion service is an indispensable part of contemporary medicine and health care. Blood management has been recognized as a challenging task because of life threatening nature of blood products entails the punctilious administration due to its perishable nature & required timely processing and it also saves the life.

  Such great challenge has been considerably alleviated with the development of information and computer technology. <strong>Red Water Blood Bank</strong> is an integrated blood bank automation system. This web based mechanism inter connects all the Blood Donors of the State into a single network.
  </p><br><br><h2>Our Locations :</h2><br>
  <div class="container">
    <div class="row">
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/tuticorin1.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Tuticorin (Head Office)</h5>
            <div class="card-content">
              <pre class="card-text">
  Address :

    No,2 Red Water Blood Bank,
    Chidambara Nagar,
    Tuticorin-628008.

  Telephone No: 4612391897.
  </pre>

            </div>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/Chennai.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Chennai (Branch)</h5>
            <pre class="card-text">
  Address :

    No,202 Red Water Blood Bank,
    Great Southern Trunk Road,
    Mahalakshmi Colony,
    Chromepet,
    Tambaram,
    Chennai-600044.

  Telephone No: 9659561107.
  </pre>

          </div>
        </div>
      </div>
       <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/kanyakumari.webp" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Kanyakumari (Branch)</h5>
            <pre class="card-text">
  Address :

    No,10 Red Water Blood Bank,
    Asaripallam,
    Naggercoil,
    KanyaKumari-629201.

  Telephone No: 04652-223201.
  </pre>
   </div>
    </div>
  </div>
  </div>
  <br><br><br><br>

