<h3><img style="opacity:0.2" src="assets/bloodDonation.jpg" ></h3>

  <div class="container">
    <div class="row">
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/BENEFITS-OF-BLOOD-DONATION (1).jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Benefits of Blood Donation</h5>
            <div class="card-content">
              <pre class="card-text">
  * You help others.
  * You get a free health check-up.
  * It burns calories.
  * Your body will make new blood.
  * It may improve your heart health.
  * It may lower your risk of
    suffering a heart attack.
  * It may reduce your risk of
    developing cancer.
  * It can help your liver stay
    healthy.
  </pre>

            </div>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/whocangiveblood.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">A blood donor has to meet the following criteria: (as per Drugs and Cosmetics Act. 1940)</h5>
            <pre class="card-text">
  * Age: between <strong>18 to 60</strong> years.
  * Body weight: <strong>45 kg</strong> and above.
  * Pulse rate: <strong>60 to 100</strong> per minute
  * Blood pressure:
            Systolic <strong>100</strong> to <strong>140</strong>,
            Diastolic <strong>70 </strong>to <strong>100</strong>.
  * Hemoglobin: minimum <strong>12.5gm/100ml</strong>
                of blood.
  * Oral temperature: Not exceeding
                      <strong>37.50°C</strong>.
  </pre>

          </div>
        </div>
      </div>
       <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/getty_488720881_361188.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">who should not donate blood.</h5>
            <pre class="card-text">
  * who are feeling unwell.
  * who are anaemic.
  * who are either pregnant or
    breast-feeding.
  * who have heart disease, high or low
    blood pressure, epilepsy, diabetes.
  * who are taking anti-biotics.
  * who are immunised with live vaccines.
  * who are being treated for malaria
    during last three months.
  * who received blood during the
    preceding three months.
  * who had major operations during last
    six months
  </pre>
   </div>
    </div>
  </div>
  </div>
  <br><br><br><br>
  <h3>
  <img style="opacity:0.4; border-radius: 42px;" src="assets/transfusionTable.jpg">
  </h3>
